.serverlist {
  width: 10%;
  height: calc(100vh + 15px);
  float: left;
  overflow-y: auto;
  overflow-y: -moz-scrollbars-none;;
  -ms-overflow-style: none;
  padding-right: 15px;
}

.serverlist::-webkit-scrollbar { width: 0 !important }

.serverlist button {
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: 2px;
  border-radius: 5px;
  border: 0;
}

.active {
  background-color: rgb(165, 76, 201);
  font-weight: bold;
}

.inactive {
  background-color: rgb(65, 65, 65);
}

.textbox {
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.textbox input {
  width: calc(100% - 60px);
}

.textbox button {
  width: 60px;
}

.container {
  display: flex;
  height: calc(100vh - 5px);
  width: calc(100% - 10%);
  flex-direction: column;
  justify-content: space-between;
  float: right;
}

.messages {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.message {
  margin-top: 15px;
  display: flex;
}

.username {
  font-weight: bold;
}

.avatar {
  margin-right: 10px;
  border-radius: 100%;
}